page-password-reset {
    ion-header {
        @include transparent-title;
    }

    ion-content {
        .scroll-content {
            margin-top: 0 !important;
        }

        .figure {
            @include figure;

            .image {
                background-image: url('../assets/img/header9.jpg');
            }
        }

        form {
            @include form;

            .form-control {
                @include input;
            }

            .submit {
                margin-top: 40px;
                @include button;
            }
        }
    }
}
